@use '../assets/scss/responsive.scss' as size;
.single-job-wrapper {
    background-color: white;
    -webkit-box-shadow: 1px 1px 13px 8px #00000034;
    box-shadow: 1px 1px 13px 8px #00000034;
    border-radius: 2px;
    padding: 30px 30px 30px 30px;
}

.single-job-container {
    margin-top: 130px;
}

.single-job-type {
    width: 100px;
    text-align: center;
}

@media only screen and (max-width: size.$tablet) {
    .single-job-container {
        margin-top: 50px;
    }
}