@use '../assets/scss/variables.scss' as variables;
.no-suggestions {
    position: absolute;
    color: rgb(51, 51, 51);
    padding: 0.5rem;
}

.suggestions {
    position: absolute;
    border: 1px solid #999;
    border-top-width: 0;
    list-style: none;
    margin-top: 0;
    max-height: 143px;
    background-color: #ffffffa1;
    overflow-y: auto;
    padding-left: 0;
    width: calc(300px + 1rem);
}

.suggestions li {
    padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
    background-color: variables.$primary-color;
    color: #ffffff;
    cursor: pointer;
    font-weight: 700;
}

.suggestions li:not(:last-of-type) {
    border-bottom: 1px solid #999;
}