.badge-wrapper {
    position: relative;
    border-radius: 18px;
    padding: 2px;
    .badge-fake-wrapper {
        background: white;
        border-radius: 13px;
        .badge {
            padding: 8px 17px;
            border-radius: 50px;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    .badge-full-time {
        background: -webkit-linear-gradient(#8c95dd, #c486d6);
        background: linear-gradient(#8c95dd, #c486d6);
    }
    .badge-remote {
        background: -webkit-linear-gradient(#ec9c84, #f7cd89);
        background: linear-gradient(#ec9c84, #f7cd89);
    }
    .badge-part-time {
        background: -webkit-linear-gradient(#7dddde, #52a8db);
        background: linear-gradient(#7dddde, #52a8db);
    }
}

.badge-applied-wrapper {
    background: -webkit-linear-gradient(#6ebf6b, #bbd21b);
    background: linear-gradient(#6ebf6b, #bbd21b);
    position: relative;
    margin-left: 11px;
    border-radius: 6px;
    margin-right: 5px;
    padding: 2px;
    .badge-applied-fake-wrapper {
        background-color: rgb(240, 240, 240);
        border-radius: 3px;
        .badge-applied {
            padding: 4px 9px;
            border-radius: 50px;
            background-color: rgb(240, 240, 240);
            p {
                font-weight: 400;
                font-size: 13px;
                margin: auto;
                color: rgb(139, 139, 139);
            }
        }
    }
}

.badge-wrapper-full-time {
    background: -webkit-linear-gradient(#8c95dd, #c486d6);
    background: linear-gradient(#8c95dd, #c486d6);
}

.badge-wrapper-remote {
    background: -webkit-linear-gradient(#ec9c84, #f7cd89);
    background: linear-gradient(#ec9c84, #f7cd89);
}

.badge-wrapper-part-time {
    background: -webkit-linear-gradient(#7dddde, #52a8db);
    background: linear-gradient(#7dddde, #52a8db);
}