.header-image {
    background-color: #ffffff;
    background-image: url('../assets/images/blur-background-image.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 200px;
    height: 600px;
    font-size: calc(10px + 2vmin);
    color: white;
}

.header-image-gradient {
    background: rgba(255, 255, 255, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, rgba(255, 255, 255, .1) 30%, rgba(255, 255, 255, .5) 55%, rgba(255, 255, 255, 1) 90%) repeat scroll 0 0;
    position: relative;
    margin-top: -600px;
    height: 600px;
}

.header-image-wrapper {
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: -1;
}