@use '../assets/scss/responsive.scss' as size;
.job-card-wrapper {
    background-color: white;
    border-radius: 2px;
    -webkit-box-shadow: 1px 1px 13px 8px #00000034;
    box-shadow: 1px 1px 13px 8px #00000034;
    padding: 35px;
    margin-left: 65px;
    margin-right: 65px;
    .job-card-title-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }
    .job-card-title-left-side {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .location-text {
        display: inline;
    }
    .location-icon {
        height: 20px;
        width: 20px;
        display: inline;
    }
    .job-card-description {
        max-height: 360px;
        overflow: hidden;
        position: relative;
        .job-card-gradient-end {
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            height: 50px;
            background: -moz-linear-gradient(top, rgba(137, 255, 241, 0) 0%, (255, 255, 255, 1) 100%);
            /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(137, 255, 241, 0)), color-stop(100%, rgba(255, 255, 255, 1)));
            /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, rgba(137, 255, 241, 0) 0%, (255, 255, 255, 1) 100%);
            /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, rgba(137, 255, 241, 0) 0%, (255, 255, 255, 1) 100%);
            /* Opera 11.10+ */
            background: -ms-linear-gradient(top, rgba(137, 255, 241, 0) 0%, (255, 255, 255, 1) 100%);
            /* IE10+ */
            background: linear-gradient(to bottom, rgba(137, 255, 241, 0) 0%, rgba(255, 255, 255, 1) 100%);
            /* W3C */
        }
    }
}

@media only screen and (max-width: size.$pc_small) {
    .job-card-wrapper {
        .job-card-title-left-side {
            display: flex;
            flex-direction: column;
            align-items: baseline;
        }
        .badge-applied-wrapper {
            margin-top: 9px;
            margin-bottom: 9px;
        }
        .badge-wrapper {
            margin-top: 9px;
            margin-bottom: 9px;
        }
        margin-left: 7px;
        margin-right: 7px;
    }
    .job-card-wrapper .job-card-title-wrapper {
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }
}