.loading-wrapper {
    width: 230px;
    height: 230px;
    img {
        width: 100%;
        height: 100%;
    }
}

.loading-container {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 450px;
}

.wait-result {
    font-size: calc(20px + 1.8vw);
}

@keyframes loading-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    .loading-wrapper {
        animation: loading-spin infinite 1s linear;
    }
}