.header-form-wrapper {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.text-welcome {
    color: white;
    margin-top: 100px;
    font-size: calc(28px + 3vmin);
}