/* define style variables*/

@use './assets/scss/variables.scss' as variables;

/* make the customizations for bootstrap*/

$theme-colors: ( "primary": variables.$primary-color);
@use "~bootstrap/scss/bootstrap";
// define mixins
@mixin btn-theme($theme: variables.$primary-color) {
    background: $theme;
    transition: 0.5s;
    color: #fff;
    height: 43px;
    padding: 0px 28px;
    &:hover {
        background-color: darken($theme, 8%);
        color: #fff;
    }
    &:active {
        background-color: darken($theme, 15%);
        color: #fff;
    }
}

// styles
.btn-original {
    @include btn-theme(variables.$primary-color);
}

a,
a:hover {
    color: black;
    text-decoration: none;
}

.input-original {
    padding-left: 15px;
    height: 40px;
    outline: none;
    border: none;
    transition: 0.5s;
    border-radius: 3px;
    -webkit-box-shadow: 1px 1px 7px 2px #00000030;
    box-shadow: 1px 1px 7px 2px #00000030;
    &:hover {
        background-color: darken(white, 2%);
    }
    &:active {
        background-color: darken(white, 5%);
    }
    &:focus {
        background-color: darken(white, 8%);
    }
}

.box-shadow-small {
    -webkit-box-shadow: 1px 1px 7px 2px #00000030;
    box-shadow: 1px 1px 7px 2px #00000030;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.cursor-pointer {
    cursor: pointer;
}

.inline {
    display: inline;
}

// responsive styles
@import "./assets/scss/responsive.scss";